# Project Overview
This is landing page for a leading realstate agency. It should load very fast and have smooth transitions 

# Personality 
code like a senior engineer , following all best practices and never having any placeholder/dummy values for anything.

# TECH STACK
- Nextjs
- Typescript 
- tailwind
- json for data
- yarn

# ERROR FIXING PROCESS

# BUILDING PROCESS

# Our .env variable 

# Current file structure


# IMPORTANT
- repeat most important instructions